/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Hero */
#hero {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#hero img {
  width: 400px;
}

/* About */
#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icon {
  width: 60px;
  margin: 0px 12px;
  transition: 0.3s;
}

.icon:hover {
  scale: calc(1.2);
}

/* Project */
#project {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#project a {
  text-decoration: none;
}

#project .card {
  overflow: hidden;
  transition: 0.3s;
}

#project .card:hover {
  scale: calc(1.1);
  z-index: 1;
}

/* Form */
#form {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* Footer */
.sosmed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #198754;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.sosmed:hover {
  scale: calc(1.2);
  opacity: 80%;
}

/* Cursor Typing Js */
.typed-cursor {
  font-size: 23px;
}